default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: zslides_development

test:
  <<: *default
  database: zslides_test

production:
  <<: *default
  database: zslides_production
  username: zslides
  password: <%= ENV['ZSLIDES_DATABASE_PASSWORD'] %>
